* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #146781 16.62%, #1da3ba 85.61%);
  width: 100%;
}

.logo {
  padding: 24px;
  padding-left: 32px;
  float: left;
}

.menu {
  float: right;
  padding: 38px;
  padding-right: 32px;
}

.menu a {
  font-weight: 400;
  font-size: 18px;
  padding-right: 32px;
  color: black;
}

/*Home page*/

.cabecalho {
  padding-bottom: 100px;
  border-bottom: 0.4px solid black;
}

.conteudo {
  width: 100%;
  overflow: hidden;
  padding: 100px 0 200px 0;
}

.conteudo-principal-escrito {
  float: left;
  width: 50%;
  padding: 10px;
}
.conteudo-principal-escrito-titulo {
  padding: 0px 0px 50px 20px;
  font-size: 48px;
}

.conteudo-principal-escrito-subtitulo {
  margin: 30px 30px 30px 30px;
}

.conteudo-principal-escrito-botao {
  margin-top: 50px;
  margin-left: 50px;
  padding: 15px 30px;
  background-color: #ffffff; 
  color: black;
  font-size: 18px; 
  font-weight: bold; 
  border: 2px solid #146781; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.conteudo-principal-escrito-botao:hover {
  background-color: #e6e6e6; 
  color: #1da3ba; 
}

.carrossel {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.carrossel .slides {
  position: absolute;
  transition: transform 0.5s ease-in-out;
  width: 2000px; /* largura total de todas as imagens */
}

.carrossel img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 40px;
}

.carrossel .prev,
.carrossel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  z-index: 10;
}

footer {
  border-top: 0.4px solid black;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 15000px;
}

.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer img {
  float: left;
  vertical-align: middle;
  width: 50px;
  height: auto;
}

.footer h2 {
  float: le;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 24px;
  color: #333;
}


/*Contact page*/
.form-container {
  margin: auto; 
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 121px;
  box-sizing: border-box;
}

.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical; /* Permite o redimensionamento vertical */
}

.input-single {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 5px;
  color: #666;
}

.btn input[type="submit"] {
  background-color: #146781;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn input[type="submit"]:hover {
  background-color: #1da3ba;
}

footer {
  border-top: 0.4px solid black;
  padding: 20px 0;
  text-align: center;
}

/*About page*/

.about-frame {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  padding-left: 130px;
}

.about {
  display: inline-block;
  text-align: left;
  max-width: 800px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about h1{
  font-size: 2.5em;
  color: #333;
}

.about p{
  font-size: 1.2em;
  line-height: 1.6;
  color: #666;
  margin: 10px 0;
}

.about h2 {
  font-size: 1.8em;
  color: #333;
  margin-top: 20px;
}

.about ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.about ul li {
  font-size: 1.2em;
  color: #666;
  margin: 10px 0;
  position: relative;
  padding-left: 20px;
}

.about ul li:before {
  content: "✓";
  position: absolute;
  left: 0;
  color: #007BFF;
}